

             <strong> <h4> Datos del usuario seleccionado</h4></strong>
              
              <div mat-dialog-content>
          
                <div class="card-body">
                        <mat-form-field class="example-full-width">
                          <mat-label>Usuario</mat-label>
                          <input matInput type="text" placeholder="usuario"   class="form-control"  [(ngModel)]="texusuario"  >
                        </mat-form-field>
                      
      
                        <mat-form-field class="example-full-width">
                          <mat-label>Contraseña</mat-label>
                          <input matInput placeholder="contraseña"  name="contrasenia" [(ngModel)]="texcontrasenia">
                        </mat-form-field>
                      

    
                </div>
                <div class="card-footer text-muted">
                  <div class="buttons">
          
                    <a class="btn btn-2"  (click)="update(idusuario)">Modificar</a>
       
                </div>
    
                </div>
              </div>



  











