
  
.card {
    border: 1px solid rgb(255, 255, 255);
    margin: auto;    
    width: 800px;
    height: 550px;
    justify-content: start;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }