<!-- ///// Alfonso Espinoza Chevez -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>
        Pagina Crear.
    </h1>


    
    <!--.....-->
    <div>
        <form [formGroup]="proveedoresForm" (ngSubmit)="guardarproveedores()">
        <!-- Nombre. -->
        <div class="form-group">
            <label> Nombre.</label>
            <input type="text" formControlName="nombre_proveedor" class="form-control">
        </div>
        <!-- Direccion -->
        <div class="form-group">
            <label> Direccion. </label>
            <input type="text" formControlName="direccion_proveedor" class="form-control">
        </div>
        <!-- Telefono -->
        <div class="form-group">
            <label> Telefono. </label>
            <input type="text" formControlName="telefono_proveedor" class="form-control">
        </div>
        <!-- ..... -->
        <button  
        type="submit"
        class="btn btn-primary"
        [disabled]="proveedoresForm.invalid"
        > Guardar. </button>

        
        </form>
    </div>
    <!--class="formularioregistro".....-->


    <button
        (click)="regresaraproveedores()" 
        type="button"
        class="card-body" 
        class="formularioregistro">
        Ir a Casa.
    </button>



    
</body>
</html>
 <!--class="formularioregistro"type="submit" .....-->
