
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Usuarios</h1>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active">Usuarios</li>
              </ol>
          </div>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>










<div class="container-fluid">
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <h5 class="card-title">Listado de personas</h5>
      <div class="card-body">
 
       
        <mat-form-field appearance="outline">
          <mat-label>BUSCAR PERSONA</mat-label>
          <input matInput  placeholder="FILTRAR" >
        </mat-form-field>
        <mat-divider></mat-divider>



        <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.usuario}} </td>
          </ng-container>

          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido</th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.usuario}} </td>
          </ng-container>
          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef> Cédula</th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.usuario}} </td>
          </ng-container>
        
          <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let j = index;">
              <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                Borrar
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  
        </table>
        



        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-title">Listado de usuarios</h5>
      <div class="card-body">
 
       
        <mat-form-field appearance="outline">
          <mat-label>BUSCAR USUARIOS</mat-label>
          <input matInput  placeholder="FILTRAR" >
        </mat-form-field>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
          </ng-container>
        
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario</th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.usuario}} </td>
          </ng-container>
          <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef> Rol</th>
              <td mat-cell *matCellDef="let articulo"> {{articulo.rol}}</td>
            </ng-container>
        
          <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let j = index;">
              <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                Borrar
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  
        </table>
        



        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
 
    

