
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Usuarios</h1>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active">Usuarios</li>
              </ol>
          </div>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>


<div class="container-fluid">

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


        <form [formGroup]="secondFormGroup" class="formulario">
          <mat-form-field appearance="outline">
           <mat-label>BUSCAR PERSONA</mat-label>
           <input matInput  placeholder="FILTRAR" [formControl]="myControl">
         </mat-form-field>
         <mat-divider></mat-divider>
   
         <mat-card-content>
         <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
         <mat-selection-list #shoes [multiple]="false" 
         (selectionChange)=" selectionPersona($event)" 
 
         formControlName="secondCtrl" required>
           <mat-list-option *ngFor="let shoe of filteredOptions | async" [value]="shoe" class="example-item">
          Id:{{ shoe.id_persona }} 
          Cédula: {{ shoe.cedula }} 
          Nombre: {{ shoe.nombre_persona }} 
          Apellido:{{ shoe.apellido_persona }} 
          Correo:{{ shoe.correo_persona }} 
           </mat-list-option>        
           </mat-selection-list>
           </cdk-virtual-scroll-viewport>
           <br>
               <p>
                 <strong>Persona seleccionado: </strong>
                 {{personasselect.nombre_persona}}
                 {{personasselect.apellido_persona}}
               </p>
 
         </mat-card-content>
   

       
       </form>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

</div>






