table {
    width: 90%;
    margin:1rem auto;
 }

 .contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
    box-shadow: -1px 3px 66px 0px rgba(177, 177, 177, 0.75);
    padding: 1rem;
}

.columna1{
    max-width: 600px;
}