
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1></h1>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active">Usuarios</li>
              </ol>
          </div>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>


<div class="container-fluid">

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">

        <form [formGroup]="secondFormGroup" class="formulario">
          <mat-form-field appearance="outline">
           <mat-label>BUSCAR PERSONA</mat-label>
           <input matInput  placeholder="FILTRAR" [formControl]="myControl">
         </mat-form-field>
         <mat-divider></mat-divider>
   
         <mat-card-content>
         <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
         <mat-selection-list #shoes [multiple]="false" 
         (selectionChange)=" selectionPersona($event)" 
 
         formControlName="secondCtrl" required>
           <mat-list-option *ngFor="let shoe of filteredOptions | async" [value]="shoe" class="example-item">
          Id:{{ shoe.id_persona }} 
          Cédula: {{ shoe.cedula }} 
          Nombre: {{ shoe.nombre_persona }} 
          Apellido:{{ shoe.apellido_persona }} 
         
           </mat-list-option>        
           </mat-selection-list>
           </cdk-virtual-scroll-viewport>
           <br>
               <p>
                 <strong>Seleccione una persona: </strong>
                 
               </p>
 
         </mat-card-content>
   

       
       </form>


      </div>
    </div>
  </div>



  <div class="col-sm-6">
    <div class="card2">
      <div class="card-body">
        <form [formGroup]="secondFormGroup" class="formulario">
          <mat-card >
            <mat-card-header>
              <mat-card-title>Datos Seleccionados</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
        
            <mat-card-content>
              <br>
                <h5><strong>Id: </strong> {{personasselect.id_persona}}</h5>
                <h5><strong>Cédula: </strong> {{personasselect.cedula}}</h5>
                <h5><strong>Nombre: </strong>{{personasselect.  nombre_persona}}</h5>
                <h5><strong>Apellido: </strong>{{personasselect.apellido_persona}}</h5>
                <br>
              <mat-divider></mat-divider>
   
             
            </mat-card-content>
     
     
            <div>
              <mat-card-header>
                <mat-card-title>Ingrese los datos para el nuevo usuario</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>

              <mat-card-content>
            

                <br>
                <form  >
                <div class="form-group">
              <input type="text" class="form-control" id="usuario"  name="usua "   placeholder="Usuario"   [(ngModel)]="usuarioss.user"/>
            </div>
                   </form>
              <br>
              <form  >
              <div class="form-group">
              <input type="text" class="form-control" id="pass"    name="contraseña " placeholder="Contraseña"  [(ngModel)]="usuarioss.password" />
            </div>
          </form>
              <br>
              <form  >
              <div class="form-group" id="left">
              <div class="select">
                <select class="form-select"  id="selecionarr" aria-label="Default select example" name="selecionarr"  [(ngModel)]="opcionSeleccionado" (change)="capturar()">
                  <option  selected disabled> Seleccione un rol </option>
                  <option *ngFor="let roles of  listaRoles"> {{roles. nombre_rol}} </option>
              </select>
            </div>
          </div>
        </form>
            </mat-card-content>



            </div>
  
          </mat-card>



          <br>

            <div class="buttons">
                <a href="#" class="btn btn-1 ">Limpiar</a>
                <a class="btn btn-2 "  (click)="guardarUsuario(personasselect)">Agregar</a>
                <a  class="btn btn-3 " [routerLink]="['/listausuarios']">Listado</a>
            </div>


        </form>




      </div>
    </div>
  </div>
















</div>

</div>






