<div class="card" style="width: 55rem;">
    <div class="card-header">Personas</div>
   <div class="card-body text-primary"> 
        
    <h5 class="card-title">Listado de Personas</h5>
   
       <br>
     <div class="my-2 txt-left">
      <!---- <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>----> 
      </div>
    


    <table class="table table-bordered table-striped">
       <thead>
           <th>Id Persona</th>
           <th>Cedula</th>
           <th>Nombre</th>
           <th>Apellido</th>
           <th>Dirrecion</th>
           <th>Telefono</th>
           <th>Correo</th>
          
           <th>Editar</th>
           <th>Eliminar</th>
       </thead>
    
              
         </table>
     </div>
</div>