
<!-- 
    <p>proveedores works!</p>
    Content Header (Page header) -->

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">

             <!-- TITULO -->
            <div class="col-sm-6">
                <h1>Proveedores</h1>
            </div>
            
            <div class="col-sm-6">

                 <!-- Botones de alado -->
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Usuarios</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content
Es decir, aqui ira toda la interfaz de esta sección. ya veras, negro, quedara gara -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">

            <!-- Encabezado -->
            <div class="card-header">
                <h3 class="card-title">Crear Proveedores</h3>

                <div class="card-tools">
                    <!-- Boton Minimizar -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="collapse"
                        data-toggle="tooltip"
                        title="Collapse"
                    >
                        <i class="fa fa-minus"></i>
                    </button>

                    <!-- Boton X -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="remove"
                        data-toggle="tooltip"
                        title="Remove"
                    >
                        <i class="fa fa-times"></i>
                    </button>

                </div>
            </div>


            <button
            type="button"
            class="card-body" >
                Ir a Crear.

                
            </button>


            <!-- /.card-body -->
            <div class="card-footer">Esta funcionalidad sirve para
            ingresar un nuevo proveedor al sistema
            </div>
            <!-- /.card-footer-->


        </div>
    </div>
    <!-- /.card Crear -->

    <!-- ........................................................... -->

    <!-- Llevame a leer Tablas -->
    <div class="container-fluid">
        <div class="card">
            
            <!-- Cabezera -->
            <div class="card-header">
                <h3 class="card-title">Tablas de Proveedores</h3>

                <div class="card-tools">
                    <!-- Boton Minimizar -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="collapse"
                        data-toggle="tooltip"
                        title="Collapse">

                        <i class="fa fa-minus"></i>
                    </button>
                    <!-- Boton Minimizar -->

                    <!-- Boton X -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="remove"
                        data-toggle="tooltip"
                        title="Remove" >

                        <i class="fa fa-times"></i>
                    </button>
                    <!-- Boton X -->

                </div>
            </div>
            <!-- Cabezera -->

            <!-- Boton de Adentro -->
            <button
            type="button"
            class="card-body" >
                Ir a Tabla.
            </button>
            <!-- Boton de Adentro -->

            <!-- /.card-body -->
            <div class="card-footer">Aqui se podra ir hacia una pestaña con la tabla
                de todos los proveedores ingresados al sistema.
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- Llevame a leer Tablas -->

    <!-- ........................................................... -->

    <!-- Llevame a Modificar Tablas -->
    <div class="container-fluid">
        <div class="card">
            
            <!-- Cabezera -->
            <div class="card-header">
                <h3 class="card-title">Modificar Proveedores.</h3>

                <div class="card-tools">
                    <!-- Boton Minimizar -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="collapse"
                        data-toggle="tooltip"
                        title="Collapse">

                        <i class="fa fa-minus"></i>
                    </button>
                    <!-- Boton Minimizar -->

                    <!-- Boton X -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="remove"
                        data-toggle="tooltip"
                        title="Remove" >

                        <i class="fa fa-times"></i>
                    </button>
                    <!-- Boton X -->

                </div>
            </div>
            <!-- Cabezera -->

            <!-- Boton de Adentro -->
            <button
            type="button"
            class="card-body" >
                Ir a Modificar.
            </button>
            <!-- Boton de Adentro -->

            <!-- /.card-body -->
            <div class="card-footer">Aqui se podra ir hacia una pestaña donde podremos
                modificar Proveedores que esten registrados en el sistema.
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- Llevame a Modificar Tablas -->

    <!-- ........................................................... -->

    <!-- Llevame a Eliminar Tablas -->
    <div class="container-fluid">
        <div class="card">
            
            <!-- Cabezera -->
            <div class="card-header">
                <h3 class="card-title">Eliminar Proveedores</h3>

                <div class="card-tools">
                    <!-- Boton Minimizar -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="collapse"
                        data-toggle="tooltip"
                        title="Collapse">

                        <i class="fa fa-minus"></i>
                    </button>
                    <!-- Boton Minimizar -->

                    <!-- Boton X -->
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-widget="remove"
                        data-toggle="tooltip"
                        title="Remove" >

                        <i class="fa fa-times"></i>
                    </button>
                    <!-- Boton X -->
                </div>
            </div>
            <!-- Cabezera -->

            <!-- Boton de Adentro -->
            <button
            type="button"
            class="card-body" >
                Ir a Eliminar.
            </button>
            <!-- Boton de Adentro -->

            <!-- /.card-body -->
            <div class="card-footer">Aqui se podra ir hacia una pestaña donde podremos
                eliminar Proveedores que ya no necesitemos.
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- Llevame a Eliminar Tablas -->

    <!-- ........................................................... -->
</section>

<!-- /.content -->

 <!-- Hola, negro -->